@media screen and (max-width: 500PX){
    .header{
     display: none;
    }
    .nav_burguer{
     display: block;
    }
    .nav_burguer img{
     width: 100px;
     height: 100px;
    }
    .nav_color{
     background-color: rgb(103, 151, 255);
    }
    .navbar .navbar-brand {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-grow: 1;
   }
   
   
                     /* PAGINA DE CONTACTO */
     .container_form {
       width: 100%;
       grid-template-columns: 1fr;
     }
     
     form {
       width: 100%;
     }
   
   }