footer{
    background-color:rgb(103, 151, 255);
      color: rgb(245, 8, 8);
      width: 100%;
      margin-top: 10px ;
      padding: 20px;
      max-width: 4000px;
      border: 5px solid black; 
      .container__footer{
        display: flex;
        max-width: 1600px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .colum1{
        max-width: 400px;
    }
    .colum1 h3{
        font-size: 22px;
    }
    .colum1 p{
        font-size: 14px;
        color: #100f0f;
        margin-top: 20px;
    }
    .colum2{
        max-width: 400px;
        cursor: pointer;
        /* margin-bottom: 20px; */
    }
    .colum2 h3{
        font-size: 30px;
        cursor:default;
    }
    .row{
        margin-top: 20px;
        display: block;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    .row a{
        cursor: pointer;
    }
    .row img{
        width: 70px;
        height: 50px;
        cursor: pointer;
       
    }
  
    .colum3{
        max-width: 400px;
    }
    .colum3 h3{
        font-size: 30px;
    }
    .row2{
        margin-top: 20px;
        align-items: center;
        display: flex;
    }
    .row2 img{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .row2 label{
        

        
    }
   
    
    @media screen and (max-width: 1100px){
        .container__footer{
            flex-wrap: wrap;
        }
        .colum2,
        .colum3{
          margin-top: 40px ;
        }
    }


    }